<header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">

        <!-- Navbar brand -->
        <img src="https://i.ibb.co/FhbtskN/1789659c-e133-409b-a920-7dbc80a5a8f4.png" alt="1789659c-e133-409b-a920-7dbc80a5a8f4" border="0" class="px-3">
        <a class="navbar-brand" href="#">Toutes foot</a>
        
        

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect waves-light" href="#">Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#">Matchs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" href="#">Classement</a>
                </li>

                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Equipes</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
                        <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <!-- Links -->

            <form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="Search">
                </div>
            </form>
        </div>
        <!-- Collapsible content -->

    </nav>
    <div class="card card-intro my-5">

    <div class="card-body white-text text-center">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-6 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">

            <h1 class="font-weight-bold mb-3 h2"><br><br></h1>

          <h4 class="mb-2 h5"></h4>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

  </div>
</header>