<span class="case-surtitre case-surtitre-mobile primary-color text-white font-weight-bold">Derniers matchs</span>
<div *ngFor="let match of matchs" class="d-flex justify-content-around w-100 pt-5">
    <img src="{{ match.logoDomicile }}">
    <p>
        {{ match.equipeDomicile }}
    </p>
    <p>
        {{ match.butsDomicile }} - {{ match.butsExterieur }}
    </p>
    <p>
        {{ match.equipeExterieur }}
    </p>
    <img src="{{ match.logoExterieur }}">
</div>
<hr class="w-75 center">
<div class="d-flex justify-content-around w-100">
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e2/Olympique_lyonnais_%28logo%29.svg/888px-Olympique_lyonnais_%28logo%29.svg.png">
    <p>
        Equipe domicile
    </p>
    <p>
        0 - 0
    </p>
    <p>
        Equipe extérieure
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/86/Paris_Saint-Germain_Logo.svg/1024px-Paris_Saint-Germain_Logo.svg.png">
</div>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary waves-effect mx-auto my-4">Voir plus...</button>
</div>
