<div class="col-sm-12 col-lg-6">
<span class="case-surtitre case-surtitre-mobile primary-color text-white my-3">Derniers matchs</span>
<div class="m-3 d-flex justify-content-around w-100">
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e2/Olympique_lyonnais_%28logo%29.svg/888px-Olympique_lyonnais_%28logo%29.svg.png">
    <p>
        Equipe domicile
    </p>
    <p>
        0 - 0
    </p>
    <p>
        Equipe extérieure
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/86/Paris_Saint-Germain_Logo.svg/1024px-Paris_Saint-Germain_Logo.svg.png">
</div>
<hr class="w-75 center">
<div class="m-3 d-flex justify-content-around w-100">
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/e2/Olympique_lyonnais_%28logo%29.svg/888px-Olympique_lyonnais_%28logo%29.svg.png">
    <p>
        Equipe domicile
    </p>
    <p>
        0 - 0
    </p>
    <p>
        Equipe extérieure
    </p>
    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/8/86/Paris_Saint-Germain_Logo.svg/1024px-Paris_Saint-Germain_Logo.svg.png">
</div>
</div>
