
    <span class="case-surtitre case-surtitre-mobile primary-color text-white font-weight-bold">Classement D1</span>
    <table class="table px-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Equipe</th>
                <th scope="col"></th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipe of equipes">
                <th class="align-middle" scope="row">{{equipe.place}}</th>
                <td><img class = "mx-3 align-middle rounded-circle border border-light" src="{{ equipe.logo }}" alt="logo {{ equipe.nom }}">{{equipe.nom}}</td>
                <td class="align-middle"><i class="fa fa-minus fa-lg text-light" aria-hidden="true"></i></td>
                <td class="align-middle">{{equipe.points}}</td>
            </tr>
        </tbody>
    </table>