<span class="case-surtitre case-surtitre-mobile primary-color text-white my-5 font-weight-bold">Classement D1</span>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col"></th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Olympique Lyonnais</td>
      <td><i class="fa fa-minus fa-lg text-light" aria-hidden="true"></i></td>
      <td>27</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Paris-SG</td>
      <td><i class="fa fa-minus fa-lg text-light" aria-hidden="true"></i></td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Paris-FC</td>
      <td><i class="fa fa-minus fa-lg text-light" aria-hidden="true"></i></td>
      <td>14</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Guingamp</td>
      <td><i class="fa fa-arrow-up fa-lg text-success" aria-hidden="true"></i></td>
      <td>14</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Bordeaux</td>
      <td><i class="fa fa-arrow-down fa-lg text-danger" aria-hidden="true"></i></td>
      <td>11</td>
    </tr>
  </tbody>
</table>